<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>

<main>
    <div class="container">
        <div class="text-center mb-3">

        </div>
        <hr class="my-3"/>
        <h1>This is HOME PAGE</h1>
<!--        <table class="table bg-blur">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th scope="col" class="font-weight-bold">Model</th>-->
<!--                <th scope="col">Created On</th>-->
<!--                <th scope="col">Description</th>-->
<!--                <th scope="col">Price</th>-->
<!--                <th scope="col">Valid until</th>-->
<!--                <th scope="col"></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <th:block th:each="offer,iter : ${offers}">-->
<!--                <tr class="row mx-auto">-->
<!--                    <th class="col-md-2 text-center" th:text="${iter.index + 1}"></th>-->
<!--                    <td class="col-md-5 text-center" th:text="${offer.vehicle}"></td>-->
<!--                    <td class="col-md-5 text-center" th:text="${offer.image}"></td>-->
<!--                    <td class="col-md-5 text-center" th:text="${offer.createdOn}"></td>-->
<!--                    <td class="col-md-5 text-center" th:text="${offer.validUntil}"></td>-->
<!--                    <td class="col-md-5 text-center" th:text="${offer.price}"></td>-->
<!--                    <td class="col-md-5 text-center" th:text="${offer.description}"></td>-->
<!--                    <td class="col-md-5 text-center" th:text="${offer.comments}"></td>-->
<!--                </tr>-->
<!--                <td class="col-md-5 text-center">-->
<!--                    <a th:href="@{/offer/view/{id}(id=${offer.id})}"  class="btn btn-dark">View</a>-->
<!--                </td>-->
<!--            </th:block>-->
<!--            </tbody>-->
<!--        </table>-->
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>